input.wpcf7-form-control.wpcf7-submit {
    font-size: 23px;
    padding: 23px 46px;
    background-color: #f5593d;
    border-color: #f5593d;
    color: #FFFFFF;
    opacity: 1;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"]
{
	padding: 8px;
}